@font-face { 
  font-family: News Cycle; 
  src: url('../fonts/NewsCycle-Regular.eot'); 
  src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
} 

html { 
  height: 100%;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article, aside, figure, footer, header, hgroup, nav, section { 
  display: block;
}

body { 
  font: normal .85em arial, sans-serif;
  background: #F5F5F5 url(../images/pattern.png);
  color: #444;
  padding-bottom: 40px;
}

p { 
  padding: 0 0 20px 0;
  line-height: 1.5em;
}

img { 
  border: 0;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: 'News Cycle', arial, sans-serif;
  color: #222;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
}

h1 { 
  text-shadow: 1px 1px #FFF;
  font-size: 2em;
}

h2 { 
  font-size: 1.7em;
  color: #666;  
  margin: 0;
  padding: 0 0 8px 0;
}

h3 { 
  font-size: 1.25em;
  font-family: 'trebuchet ms', arial, sans-serif;
}

h4, h5, h6 { 
  margin: 0;
  padding: 0 0 5px 0;
  font-size: 1.1em;
  color: #999;
  line-height: 1.5em;
}

h5, h6 { 
  font-style: italic;
  font-size: .95em;
  color: #888;
  padding-bottom: 15px;
}

h6 { 
  color: #362C20;
}

a, a:hover { 
  outline: none;
  text-decoration: none;
  color: #00B7EC;
}

a:hover { 
  text-decoration: underline;
}

ul { 
  margin: 2px 0 22px 17px;
}

ul li { 
  list-style-type: circle;
  margin: 0;
  padding: 0 0 4px 5px;
}

ol { 
  margin: 8px 0 22px 20px;
}

ol li { 
  margin: 0 0 11px 0;
}

#main, header, #logo, nav, #site_content, footer { 
  margin-left: auto; 
  margin-right: auto;
}

#main { 
  width: 90%;
  max-width: 950px;
  margin: 20px auto 0 auto;
}

header { 
  width: 100%;
  max-width: 950px;
  height: auto;
}

#logo { 
  width: 220px;
  float: left;
  height: auto;
  background: transparent;
  padding: 0 0 10px 10px;
}

#logo h1 { 
  font-size: 3.3em;
  padding: 37px 0 0 17px;
  color: #222;
  letter-spacing: -2px;
}

#logo h1 a { 
  color: #999;
}

#logo h1 a:hover { 
  color: #222;
}

nav { 
  height: 26px;
  width: 100%;
  max-width: 720px;
  margin: 1px auto 0 auto;
  float: right;
  padding: 35px 0 0 0;
} 

#site_content { 
  width: 100%;
  max-width: 950px;
  overflow: hidden;
  margin: 4px auto 0 auto;
  padding: 0;
  background: #eee;
  border-top: 0;
  border-bottom: 0;
} 

#sidebar_container { 
  float: left;
  width: 100%;
  max-width: 450px;
  padding: 0;
}

#content { 
  text-align: justify;
  width: 100%;
  max-width: 444px;
  padding: 0 0 5px 30px;
  margin: 0;
  float: left;
}

#content ul { 
  margin: 2px 0 5px 0px;
}

#content ul li { 
  list-style-type: none;
  background: transparent url(../images/bullet.png) no-repeat left center;
 
